In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [85]:
data = pd.read_csv('/Users/sa12/Documents/Repositories/PredictPodcastListeningTime/PodcastData/train.csv')

In [5]:
shape = data.shape
data.head()

,id,Podcast_Name,Episode_Title,Episode_Length_minutes,Genre,Host_Popularity_percentage,Publication_Day,Publication_Time,Guest_Popularity_percentage,Number_of_Ads,Episode_Sentiment,Listening_Time_minutes
0,0,Mystery Matters,Episode 98,NaN,True Crime,74.81,Thursday,Night,NaN,0.0,Positive,31.41998
1,1,Joke Junction,Episode 26,119.80,Comedy,66.95,Saturday,Afternoon,75.95,2.0,Negative,88.01241
2,2,Study Sessions,Episode 16,73.90,Education,69.97,Tuesday,Evening,8.97,0.0,Negative,44.92531
3,3,Digital Digest,Episode 45,67.17,Technology,57.22,Monday,Morning,78.70,2.0,Positive,46.27824
4,4,Mind & Body,Episode 86,110.51,Health,80.07,Monday,Afternoon,58.68,3.0,Neutral,75.61031

In [8]:
data.isna().value_counts()
#top value is # of rows with no nulls

id     Podcast_Name  Episode_Title  Episode_Length_minutes  Genre  Host_Popularity_percentage  Publication_Day  Publication_Time  Guest_Popularity_percentage  Number_of_Ads  Episode_Sentiment  Listening_Time_minutes
False  False         False          False                   False  False                       False            False             False                        False          False              False                     539048
                                                                                                                                  True                         False          False              False                     123858
                                    True                    False  False                       False            False             False                        False          False              False                      64921
                                                                                                                                  True                         False          False              False                      22172
                                    False                   False  False                       False            False             False                        True           False              False                          1
Name: count, dtype: int64

In [10]:
val = data[data['Number_of_Ads'].isna() == True]
val

,id,Podcast_Name,Episode_Title,Episode_Length_minutes,Genre,Host_Popularity_percentage,Publication_Day,Publication_Time,Guest_Popularity_percentage,Number_of_Ads,Episode_Sentiment,Listening_Time_minutes
247170,247170,Game Day,Episode 33,35.66,Sports,27.35,Friday,Evening,49.87,NaN,Negative,23.94516

In [13]:
gameday = data[data['Podcast_Name'] == 'Game Day']
gd_mean_ads = gameday['Number_of_Ads'].mean()
gd_mean_ads

1.3027346790514245

In [86]:
data.fillna({'Number_of_Ads':1}, inplace=True)

In [18]:
data.isna().value_counts()

id     Podcast_Name  Episode_Title  Episode_Length_minutes  Genre  Host_Popularity_percentage  Publication_Day  Publication_Time  Guest_Popularity_percentage  Number_of_Ads  Episode_Sentiment  Listening_Time_minutes
False  False         False          False                   False  False                       False            False             False                        False          False              False                     539049
                                                                                                                                  True                         False          False              False                     123858
                                    True                    False  False                       False            False             False                        False          False              False                      64921
                                                                                                                                  True                         False          False              False                      22172
Name: count, dtype: int64

We have 3 branches now. A spl

In [107]:
# create a column representing the mean episode length of each podcast
data['Group_Means'] = data.groupby('Podcast_Name')['Episode_Length_minutes'].transform('mean')
#locate rows with null value in episode length column and fill them with the average
data.loc[data['Episode_Length_minutes'].isnull(),'Episode_Length_minutes'] = data['Group_Means']
data.isna().value_counts()

id     Podcast_Name  Episode_Title  Episode_Length_minutes  Genre  Host_Popularity_percentage  Publication_Day  Publication_Time  Guest_Popularity_percentage  Number_of_Ads  Episode_Sentiment  Listening_Time_minutes  Group_Means
False  False         False          False                   False  False                       False            False             False                        False          False              False                   False          603970
                                                                                                                                  True                         False          False              False                   False          146030
Name: count, dtype: int64

In [109]:
data['Guest_Popularity_percentage'] = data['Guest_Popularity_percentage'].fillna(0)
data.isna().value_counts()

id     Podcast_Name  Episode_Title  Episode_Length_minutes  Genre  Host_Popularity_percentage  Publication_Day  Publication_Time  Guest_Popularity_percentage  Number_of_Ads  Episode_Sentiment  Listening_Time_minutes  Group_Means
False  False         False          False                   False  False                       False            False             False                        False          False              False                   False          750000
Name: count, dtype: int64

All null values have been replaced by representitive values

# Univariate Analysis

In [111]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 750000 entries, 0 to 749999
Data columns (total 13 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   id                           750000 non-null  int64
 1   Podcast_Name                 750000 non-null  object
 2   Episode_Title                750000 non-null  object
 3   Episode_Length_minutes       750000 non-null  float64
 4   Genre                        750000 non-null  object
 5   Host_Popularity_percentage   750000 non-null  float64
 6   Publication_Day              750000 non-null  object
 7   Publication_Time             750000 non-null  object
 8   Guest_Popularity_percentage  750000 non-null  float64
 9   Number_of_Ads                750000 non-null  float64
 10  Episode_Sentiment            750000 non-null  object
 11  Listening_Time_minutes       750000 non-null  float64
 12  Group_Means                  750000 non-null  float64
dtypes: float64(6), int64(1), object(6)
memory usage: 74.4+ MB

In [112]:
cats = data[['Podcast_Name','Episode_Title','Genre','Publication_Day','Publication_Time','Episode_Sentiment']]
dogs = data[['Episode_Length_minutes','Host_Popularity_percentage','Guest_Popularity_percentage', 'Number_of_Ads', 'Listening_Time_minutes',]]